*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#main_menu {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: white;
    border: 1px solid gray;
    cursor: pointer;
  }

  #camera_menu {
    position: absolute;
    left: 100px;
    top: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: white;
    border: 1px solid gray;
    cursor: pointer;
  }

  #blue_menu {
    position: absolute;
    left: 200px;
    top: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: white;
    border: 1px solid gray;
    cursor: pointer;
  }

  #red_menu {
    position: absolute;
    left: 300px;
    top: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: white;
    border: 1px solid gray;
    cursor: pointer;
  }
